# Docker
*.log
.env
.env.*
!.env.example
node_modules
dist
coverage
.test-*
*.test.ts

# IDE
.vscode
.idea

# Git
.git
.gitignore

# CI/CD
.github

# Docs
docs
*.md
!README.md

# Tests
*.test.ts
*.bench.ts
vitest.config.ts
